.container {
    width: 340px;
    margin-left: 20px;
}

p {
    font: .7em Arial, sans-serif;
        text-align: justify;
       text-align-last: justify;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
}

li {
    display: inline-block;
    margin: 10px 0;
    font: .7em Arial, sans-serif;
    line-height: normal;
    font-size: 12px;

    /* Без него в Opera будет отступ под элементами */
    
    vertical-align: top;
}

.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}

a {
    color: #000;
}
.row {
    overflow: hidden;
    margin-bottom: 10px;
}
.half {
    float: left;
    font: .7em georgia,sans-serif;
    width: 45%;
    text-align: justify;
    margin-right: 2%;
  
    margin-bottom: 20px;
}
.right {
   float: right;
}