/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
/*    width: 600px;*/
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
    min-width: 100px;
    margin-right: 30px;
    border-radius: 6px;
    background-color: #434343;
    color: white;
    font-size: 20px;
    text-align: center;
    min-height: 30px;
    vertical-align: middle;
}

.first {
  font-family: poiret-one, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.second {
    font-family: 'Indie Flower', cursive;
      font-weight: 100;
  font-style: normal;
    vdv,
}

.third {
    
    font-family: 'Airport';
}